@{
    Layout = "~/Views/Shared/LayoutTrangChu.cshtml";
}
@using project_ca_nhan.Models

@functions{
    public MyDbcontext db = new MyDbcontext();
    public ItemCustomer GetCustomer(){
        ItemCustomer x = db.Customers.Where(s=>s.Email == Context.Session.GetString("customer_user_email")).FirstOrDefault();
        return x;
    } 
}
@{
    var nameCustomer = GetCustomer();
}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="special-deal leftbar" style="margin-top:0;">
                <h4 class="title">
                    Special
                    <strong>
                        Deals
                    </strong>
                </h4>
                <div class="special-item">
                    <div class="product-image">
                        <a href="details.html">
                            <img src="~/Fontend/images/products/thum/products-01.png" alt="">
                        </a>
                    </div>
                    <div class="product-info">
                        <p>
                            <a href="details.html">
                                Licoln Corner Unit
                            </a>
                        </p>
                        <h5 class="price">
                            $300.00
                        </h5>
                    </div>
                </div>
                <div class="special-item">
                    <div class="product-image">
                        <a href="details.html">
                            <img src="~/Fontend/images/products/thum/products-02.png" alt="">
                        </a>
                    </div>
                    <div class="product-info">
                        <p>
                            <a href="details.html">
                                Licoln Corner Unit
                            </a>
                        </p>
                        <h5 class="price">
                            $300.00
                        </h5>
                    </div>
                </div>
                <div class="special-item">
                    <div class="product-image">
                        <a href="details.html">
                            <img src="~/Fontend/images/products/thum/products-03.png" alt="">
                        </a>
                    </div>
                    <div class="product-info">
                        <p>
                            <a href="details.html">
                                Licoln Corner Unit
                            </a>
                        </p>
                        <h5 class="price">
                            $300.00
                        </h5>
                    </div>
                </div>
            </div>
            <div class="product-tag leftbar">
                <h3 class="title">
                    Products
                    <strong>
                        Tags
                    </strong>
                </h3>
                <ul>
                    <li>
                        <a href="#">
                            Lincoln us
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            SDress for Girl
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Corner
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Window
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            PG
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Oscar
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Bath room
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            PSD
                        </a>
                    </li>
                </ul>
            </div>
            <div class="get-newsletter leftbar">
                <h3 class="title">
                    Get
                    <strong>
                        newsletter
                    </strong>
                </h3>
                <p>
                    Casio G Shock Digital Dial Black.
                </p>
                <form>
                    <input class="email" type="text" name="" placeholder="Your Email...">
                    <input class="submit" type="submit" value="Submit">
                </form>
            </div>
            <div class="fbl-box leftbar">
                <h3 class="title">
                    Facebook
                </h3>
                <span class="likebutton">
                    <a href="#">
                        <img src="~/Fontend/images/fblike.png" alt="">
                    </a>
                </span>
                <p>
                    12k people like Flat Shop.
                </p>
                <ul>
                    <li>
                        <a href="#">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        </a>
                    </li>
                </ul>
                <div class="fbplug">
                    <a href="#">
                        <span>
                            <img src="~/Fontend/images/fbicon.png" alt="">
                        </span>
                        Facebook social plugin
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="checkout-page">
                <ol class="checkout-steps">
                    <li class="steps">
                        <div class="step-title">
                            01. checkout opition
                        </div>
                    </li>
                    <li class="steps active">
                        <a href="checkout.html" class="step-title">
                            02. billing information
                        </a>
                        <div class="step-description">
                            <form method="post" action="@ViewBag.action">
                                @Html.AntiForgeryToken()
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="your-details">
                                           
                                            <h5>
                                                Your Persional Details
                                            </h5>


                                            <div class="form-row" for="frm-reg-Name">
                                                <label class="lebel-abs">
                                                    Name
                                                    <strong class="red">
                                                        *
                                                    </strong>
                                                </label>
                                                <input type="text" id="frm-reg-Name" class="input namefild" value="@((nameCustomer != null) ? nameCustomer.Name : "")" name="Name">

                                            </div>

                                            <div class="form-row" for="frm-reg-email">
                                                <label class="lebel-abs">
                                                    Email
                                                    <strong class="red">
                                                        *
                                                    </strong>
                                                </label>
                                                <input type="text" id="frm-reg-email" value="@((nameCustomer != null) ? nameCustomer.Email : "")" class="input namefild" name="Email" disabled>
                                            </div>
                                            <div class="form-row" for="frm-reg-phone">
                                                <label class="lebel-abs">
                                                    Telephone
                                                    <strong class="red">
                                                        *
                                                    </strong>
                                                </label>
                                                <input type="text" id="frm-reg-phone" class="input namefild" value="@((nameCustomer != null) ? nameCustomer.Phone : "")" name="Phone">
                                            </div>
                                            <div class="form-row">
                                                <label class="lebel-abs" for="frm-reg-address">
                                                    Address
                                                    <strong class="red">
                                                        *
                                                    </strong>
                                                </label>
                                                <input type="text" id="frm-reg-address" class="input namefild" value="@((nameCustomer != null) ? nameCustomer.Address : "")" name="Address">
                                            </div>

                                            <div class="pass-wrap">
                                                <div class="form-row">
                                                    <label class="lebel-abs" for="frm-reg-password">
                                                        Your Password
                                                        <strong class="red">
                                                            *
                                                        </strong>
                                                    </label>
                                                   
                                                    <input type="text" id="frm-reg-password" class="input namefild" name="Password" placeholder="Nhập password mới nếu muốn thay đổi password">
                                                </div>

                                            </div>
                                            <button>
                                                Continue
                                            </button>

                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="steps">
                        <a href="checkout2.html" class="step-title">
                            03. Shipping information
                        </a>
                    </li>
                    <li class="steps">
                        <a href="#" class="step-title">
                            04. shipping method
                        </a>
                    </li>
                    <li class="steps">
                        <a href="#" class="step-title">
                            05. payment information
                        </a>
                    </li>
                    <li class="steps">
                        <a href="#" class="step-title">
                            06. oder review
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <div class="our-brand">
        <h3 class="title">
            <strong>
                Our
            </strong>
            Brands
        </h3>
        <div class="control">
            <a id="prev_brand" class="prev" href="#">
                &lt;
            </a>
            <a id="next_brand" class="next" href="#">
                &gt;
            </a>
        </div>
        <ul id="braldLogo">
            <li>
                <ul class="brand_item">
                    <li>
                        <a href="#">
                            <div class="brand-logo">
                                <img src="~/Fontend/images/envato.png" alt="">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="brand-logo">
                                <img src="~/Fontend/images/themeforest.png" alt="">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="brand-logo">
                                <img src="~/Fontend/images/photodune.png" alt="">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="brand-logo">
                                <img src="~/Fontend/images/activeden.png" alt="">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="brand-logo">
                                <img src="~/Fontend/images/envato.png" alt="">
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="brand_item">
                    <li>
                        <a href="#">
                            <div class="brand-logo">
                                <img src="~/Fontend/images/envato.png" alt="">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="brand-logo">
                                <img src="~/Fontend/images/themeforest.png" alt="">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="brand-logo">
                                <img src="~/Fontend/images/photodune.png" alt="">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="brand-logo">
                                <img src="~/Fontend/images/activeden.png" alt="">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="brand-logo">
                                <img src="~/Fontend/images/envato.png" alt="">
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>